[Desktop Entry]
Name=vm:win10
GenericName=PC virtualization solution
Type=Application
Exec=VBoxManage startvm win10
TryExec=VirtualBox
Keywords=virtualization;
MimeType=application/x-virtualbox-vbox;application/x-virtualbox-vbox-extpack;application/x-virtualbox-ovf;application/x-virtualbox-ova;
Icon=virtualbox
Categories=Emulator;System;Utility;
Actions=Manager;
Comment=Start win10 vm
X-XFCE-Source=file:///usr/share/applications/virtualbox.desktop

Path=
Terminal=false
StartupNotify=false

[Desktop Action Manager]
Exec=VirtualBox
Name=Open Oracle VM Manager
