[Main]
Timeout=500
Timeout_Seconds=1
Click_Command=xfce4-taskmanager

[SL_Cpu]
Enabled=true
Use_Label=false
Color=rgb(239,41,41)
Text=cpu

[SL_Mem]
Enabled=true
Use_Label=false
Color=rgb(114,159,207)
Text=mem

[SL_Swap]
Enabled=true
Use_Label=false
Color=rgb(136,138,133)
Text=swap

[SL_Uptime]
Enabled=true

