[Desktop Entry]
Version=1.0
Type=Application
Name=KeePassXC
Comment=
Exec=/mnt/zznix/opt/keepassxc/keepassxc
Icon=keepassxc
Path=/mnt/zznix/opt/keepassxc
Terminal=false
StartupNotify=false
